@use '../../assets/styles/colors';

$nameSection-height: 45px;
$movesTable-height: 210px;


.movesTableWrapper {
  display: grid;
  grid-template-rows: $nameSection-height $movesTable-height $nameSection-height;
  width: 300px;
}

.movesContainer {
  overflow-y: scroll;
  background-color: colors.$white;
  height: 100%;
  width: 100%;
}